.background { --background:#29235c; color:#fff; font-family:'Montserrat',sans-serif; text-align:center; }
.logout { --border-color:#7b83ff; --color:#7b83ff; width:80%; border-radius:10px; margin:40px auto; }
.tab-bar { --background:#221d4a; ion-icon, ion-label { color:#b3b9ff; } }
