<ion-content class="ion-padding background">
  <h2 class="title">MENÚ DE INFORMACIÓN</h2>

  <ion-list class="menu-list">
    <ion-item button detail (click)="abrirLink('https://www.google.com')">
      <ion-icon name="flag-outline" slot="start"></ion-icon>
      <ion-label>MISIÓN</ion-label>
    </ion-item>

    <ion-item button detail (click)="abrirLink('https://www.google.com')">
      <ion-icon name="ribbon-outline" slot="start"></ion-icon>
      <ion-label>VISIÓN</ion-label>
    </ion-item>

    <ion-item button detail (click)="abrirLink('https://www.google.com')">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label>NOTICIAS</ion-label>
    </ion-item>

    <ion-item button detail (click)="abrirLink('https://www.google.com')">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>CONTACTO</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
