<ion-content class="background">

  <div class="page">

    <div class="hero">
      <ion-icon name="school-outline"></ion-icon>
    </div>

    <div class="login-card">

      <h2 class="title">
        Escuela Tránsito<br />
        Amaguaña
      </h2>

      <div class="button-group">
        <ion-button
          expand="block"
          fill="outline"
          class="btn-outline"
          routerLink="/auth"
          [queryParams]="{ role: 'docente' }">
          SESIÓN DOCENTE
        </ion-button>

        <ion-button
          expand="block"
          class="btn-filled"
          routerLink="/auth"
          [queryParams]="{ role: 'estudiante' }">
          SESIÓN ESTUDIANTE
        </ion-button>
      </div>

      <div class="footer">
        <a href="https://tesis-frontend-three.vercel.app/" target="_blank">
          Página web de la institución
        </a>
      </div>

    </div>

  </div>

</ion-content>
