<ion-content class="ion-padding background">
  <h2 class="title">CALIFICACIONES</h2>
  <h4 class="subtitle">{{ nombreUsuario }}</h4>

  <ion-grid *ngIf="calificaciones.length > 0; else sinDatos">
    <ion-row>
      <ion-col size="6" *ngFor="let nota of calificaciones">
        <ion-card class="nota-card" (click)="mostrarObservacion(nota)">
          <div class="nota">{{ nota.promedio }}</div>
          <div class="materia">{{ nota.curso }}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #sinDatos>
    <p class="empty">No existen calificaciones registradas.</p>
  </ng-template>
</ion-content>
