ion-content {
  --background: #2f2b6e;
  color: #fff;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  ion-icon { font-size: 30px; margin-right: 8px; }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

ion-card {
  background: #3a3780;
  border-radius: 14px;
  text-align: center;
  color: white;
  transition: 0.2s;
  &:active { transform: scale(0.95); }
  &.reprueba { border: 2px solid #791800; }
}

.alert-custom {
  --background: #2f2b6e;
  --color: white;
  --backdrop-opacity: 0.4;

  .alert-title {
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
  }

  .alert-message {
    font-family: 'Montserrat';
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
  }

  .alert-button {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #e05b81;
  }
}
