<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="perfil">
    <ion-icon name="person-circle-outline"></ion-icon>
    <span>Promedio: {{ promedio | number:'1.1-1' }}</span>
  </div>

  <ion-button
    *ngIf="tieneReprobadas"
    expand="block"
    color="secondary"
    (click)="mostrarObservacionGeneral()">
    Reprueba
  </ion-button>

  <div class="grid">
    <ion-card *ngFor="let n of calificaciones" (click)="mostrarObservacion(n)" [class.reprueba]="n.nota < 7">
      <ion-card-content>
        <h2>{{ n.nota }}</h2>
        <p>{{ n.materia }}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
