<ion-content class="ion-padding background">

  <h2 class="title">CALIFICACIONES</h2>

  <ion-searchbar
    placeholder="Buscar estudiante"
    [(ngModel)]="busqueda"
    (ionInput)="filtrar()">
  </ion-searchbar>

  <ion-item>
    <ion-label>Materia</ion-label>
    <ion-select
      [(ngModel)]="materiaSeleccionada"
      (ionChange)="filtrar()">
      <ion-select-option
        *ngFor="let m of materiasDisponibles"
        [value]="m">
        {{ m }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngFor="let e of estudiantesFiltrados">

    <!-- HEADER CLICKABLE -->
    <ion-item
      lines="full"
      class="estudiante-header"
      button
      (click)="verResumen(e)">

      <ion-label>
        <h2>{{ e.estudiante.nombre }} {{ e.estudiante.apellido }}</h2>
        <p *ngIf="e.estudiante.curso">{{ e.estudiante.curso }}</p>
      </ion-label>

    </ion-item>

    <ion-item
      *ngFor="let m of e.materias"
      [ngClass]="{ 'nota-baja': m.promedio < 7 }">
      <ion-label>
        <p>{{ m.curso }} — Promedio: {{ m.promedio }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <div *ngIf="estudiantesFiltrados.length === 0" class="sin-datos">
    <p>No hay calificaciones disponibles.</p>
  </div>

</ion-content>
