.background {
  --background: #1e1e8f;
  color: white;
  text-align: center;
}

.perfil-icon {
  font-size: 6rem;
  color: #8cb4ff;
}

.materias {
  background: #2d2da8;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
}

ion-button {
  margin-top: 2rem;
  --border-radius: 10px;
}
